### 1. Count the number of times `iNeuron` appears in the string.
```python
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"

In [ ]:
python_text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"

In [ ]:
python_text.count("iNeuron")

3

### 2. Check if position `5` to `11` ends with the phrase `iNeuron.` in the string 
```python
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
```

In [ ]:
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
txt[5:11]

', welc'

### 3. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

In [1]:
name = input("Enter the name : ")
first_name , middle_name , sur_name = name.split(" ")
print(f"""
First name: {first_name}
Middle name: {middle_name}
Sur name: {sur_name}
""")
print(first_name[0]+"."+middle_name[0]+"."+sur_name[::])

Enter the name : sai varma sindiri

First name: sai
Middle name: varma
Sur name: sindiri

s.v.sindiri

### 4. Join all items in a list into a string, using a hash(`#`) character as separator:
```python
LIST = ["My", "name", "is", "Rishav", "Dash"]
```

In [ ]:
LIST = ["My", "name", "is", "Rishav", "Dash"]

In [ ]:
"#".join(LIST)

'My#name#is#Rishav#Dash'

### 5. Write example for the following string manipulation function,

  ```
  - isdecimal()
  - islower()
  - isupper()
  - isalpha()
  - isnumeric()

  ```

In [ ]:
name = "saivarma"
name.islower()

True

In [ ]:
name.isalpha()

True

In [ ]:
name.isnumeric()

False

In [ ]:
dec = "123456"
dec.isdecimal()

True

In [ ]:
dec.isnumeric()

True

In [ ]:
name.isupper()

False

### 6. Indian PAN card format follows the following formats - 
    - `AYEPC7894X`
    - `ABCDE9999Y`
  Take user input for PAN_CARD and validate as per the above example.

In [ ]:
pan_number = input("Enter the pan number :")
if pan_number.isalnum() and pan_number[5:9].isdigit() and len(pan_number)==10:
  print("entered pan number is valid")
else:
  print("invalid input")

Enter the pan number :AYEPC7894X
entered pan number is valid